					<!-- Top Search Navigation starts -->
					<div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
							<i class="icon feather icon-search text-c-green mb-1 d-block"></i>
							</span>
                      </div>
                      <input type="text" class="form-control" placeholder="Search Project" aria-label="Search Project" aria-describedby="basic-addon1"/>
                    </div>
                	<!-- Top Search Navigation Ends -->