{% extends "web/base.html"%}
{% block container %}

<section class="subheader simple-search">
    <div class="container">
      <h1>About Us
  </h1>
      
  
    </div><!-- end container -->
  </section>
   
  <section class="module property-categories">
    <div class="container">
  
      <div class="module-header">
        <h2>Who we  <strong>Are</strong></h2>
      
        <span>Real estate has historically been the asset class that has created the highest wealth for investors around the world. However, large capital investment, specialised investment knowledge, asset management capabilities and understanding of market cycles has restricted the asset class to institutional investors, ultra high net worth individuals, pension and sovereign funds.
        </span><br>
        <span>Property Share was founded by a team with deep experience in institutional real estate investing and technology with the aim to democratise real estate investing for ordinary investors by providing institutional quality analysis, asset management and liquidity at much lower investment thresholds.</span>
      </div>
  
  
      <div class="row" style="text-align: center;padding: 40px;">
  
        <div class="col-md-4 col-6 ">
            <div class="Who-we-are">
                <p class="title">$1 billion</p>
                <p class="description">Investment Experience</p>
            </div>
        </div>
  
        <div class="col-md-4 col-6 ">
          <div class="Who-we-are">
                <p class="title"><span class="rupee-icon">₹</span><span id="">400 </span><span>Crs</span></p>
                <p class="description">Properties Funded</p>
            </div>
        </div>
  
        <div class="col-md-4 col-12 ">
          <div class="Who-we-are">
                <p class="title"><span id="">50,000+</span></p>
                <p class="description">Users</p>
            </div>
        </div>
  
    </div><!-- end row -->
  
    </div><!-- end container -->
  </section>

  <section class="module no-padding properties featured">
    <div class="container">
  
      <div class="module-header">
        <h2>What we  <strong>Do</strong></h2>
        <img src="/static/images/divider.png" alt="">
        <p>A tech platform that provides its users access to institutional grade commercial real estate with property management and liquidity through resale.</p>
      </div>
  
  
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <div class="service-item shadow-hover">
            <i class="fa fa-home"></i>
            <h4>ACCESS</h4>
            <p>to vetted Grade A commercial real estate with 8-10% yields and 17-20% projected returns</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="service-item shadow-hover">
            <i class="fa fa-group"></i>
            <h4>Liquidity</h4>
            <p>through access to a separate proprietary resale platform</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="service-item shadow-hover">
            <i class="fa fa-file-text"></i>
            <h4>Asset Management</h4>
            <p>active asset management including leasing and property management to increase value</p>
          </div>
        </div>
      </div><!-- end row -->
      <div class="row text-center"><br><br>
        <a class="btn btn-success text-center" href="/register">Get Started</a>
      </div>
    </div><!-- end container -->
  </section>
  <section class="module no-padding properties featured">
    <div class="container">
  
      <div class="module-header">
        <h2>Our Mission </h2>
        <img src="/static/images/divider.png" alt="">
        <p>Provide institutional level data and analysis through our core principles of integrity, transparency and discipline.</p>
      </div>
  
  
      <div class="row">
        <div class="col-lg-3 col-md-3">
          <div class="service-item shadow-hover">
            <i class="fa fa-home"></i>
            <h4>Integrity</h4>
          
          </div>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="service-item shadow-hover">
            <i class="fa fa-search"></i>
            <h4>Transparency</h4>
        
          </div>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="service-item shadow-hover">
            <i class="fa fa-group"></i>
            <h4>Discipline</h4>
          
          </div>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="service-item shadow-hover">
            <i class="fa fa-line-chart "></i>
            <h4>Returns</h4>
            
          </div>
        </div>
      </div><!-- end row -->
      <div class="row text-center"><br><br>
        <a class="btn btn-success text-center" href="/register">Get Started</a>
      </div>
    </div><!-- end container -->
  </section>
  
  <section class="module property-categories">
    <div class="container">
  
      <div class="module-header">
        <h2>Our Founders</h2>
        <img src="/static/images/divider.png" alt="">
        <p>Our founding team comes with >$1 billion of institutional real estate investment experience</p>
      </div>
  
  
      <div class="row" style="text-align: center;padding: 40px;">
  
        <div class="col-md-3 col-6 ">
            <div class="Who-we-are">
                <p class="title">$1 bn</p><br>
                <p class="description">Invested in real estate</p>
            </div>
        </div>
  
        <div class="col-md-3 col-6 ">
          <div class="Who-we-are">
                <p class="title">33 mn</p><br>
                <p class="description"> SF managed </p>
            </div>
        </div>
  
        <div class="col-md-3 col-12 ">
          <div class="Who-we-are">
                <p class="title">15 yrs</p><br>
                <p class="description">Experience in investing</p>
            </div>
        </div>

        <div class="col-md-3 col-12 ">
          <div class="Who-we-are">
                <p class="title">IIT / IIM</p><br>
                <p class="description">Pedigree</p>
            </div>
        </div>
  
    </div><!-- end row -->

    <div class="row">
      <div class="col-md-3">
        <img height="300" width="300" src="/static/images/founder1.png"> 
      </div>
      <div class="col-md-3 ml-2">
        <div style="margin-left: 26px;">
          <h4>Hashim Khan,</h4>
          <h6>Co-founder and CTO</h6>
          <p>Headed IT in a multi-billion dollar middle eastern conglomerate with >13 years experience in managing and implementing technology and processes</p>
          <p>B. Tech from IIT Kanpur and MBA from IIM Ahmedabad</p>
        </div>
       
      </div>
      <div class="col-md-3">
        <img height="300" width="300" src="/static/images/founder2.png"> 
      </div>
      <div class="col-md-3 ml-2">
        <div style="margin-left: 26px;">
        <h4>Kunal Moktan,</h4>
        <h6>Co-founder and CTO</h6>
        <p>3 years experience buying, managing and selling real estate of which 8 years was with The Blackstone Group, the world’s largest real estate fund with $154 billion AUM</p>
        <p>MBA from IIM Ahmedabad</p>
        </div>
      </div>

    </div>
  
    </div><!-- end container -->
  </section>
    
  <section class="module property-categories">
    <div class="container">
  
      <div class="module-header">
        <h2>Board of Directors</h2>
        <img src="/static/images/divider.png" alt="">
        <p>Our Board comprises representatives from Lightspeed, Pravega and Beenext</p>
      </div>
  
  

    <div class="row">
      <div class="col-md-4">
        <img height="250" width="350" src="/static/images/founder1.png"> 
      </div>
     
      <div class="col-md-4">
        <img height="250" width="350" src="/static/images/founder2.png"> 
      </div>
      
     
      <div class="col-md-4">
        <img height="250" width="350" src="/static/images/founder2.png"> 
      </div>
      
    </div>
    <br>
    <div class="row">
      <div class="col-md-4">
        <p style="font-size: 16px;"><b>Rohit Jain,</b> </p>
        <p>Partner, Pravega Ventures</p><br>
        <p>B. Tech (CS) from IIT Delhi and MS
          from University of North Carolina</p>
          
      </div>
     
      <div class="col-md-4">
        <p style="font-size: 16px;"><b>Vaibhav Agrawal,</b> </p>
        <p>Partner, Lightspeed Venture Partners</p><br>
        <p>MBA from Stanford University</p>
      </div>
      
     
      <div class="col-md-4">
        <p style="font-size: 16px;"><b>Dirk Van Quaquebeke,</b> </p>
        <p>Board Observer</p><br>
        <p>B. Sc. from Universität Hildesheim,
          MBA from Copenhagen Business School</p>
      </div>
      
    </div>
    <br>
    <div class="row">
      <div class="col-md-4">
        <img height="50px" width="250px" src="/static/images/standard_charter.png">
          
      </div>
     
      <div class="col-md-4">
        <img height="50px" width="250px" src="/static/images/standard_charter.png">
      </div>
      
     
      <div class="col-md-4">
        <img height="50px" width="250px" src="/static/images/standard_charter.png">
      </div>
      
    </div>
  
    </div><!-- end container -->
  </section>

  <section class="module property-categories">

    <div class="container">
  
      <div class="module-header">
        <h2>Our Office</h2>
        <img src="/static/images/divider.png" alt="">
        <p>10th Floor, SKAV Seethalakshmi, 21/22, Kasturba Road, Bangalore 560001</p>
      </div>
  
      <section class=" slider our-office" >
       
        <div >
          <img height="310" width="410" src="/static/images/founder2.png">
          
        </div>
        <div >
          <img height="310" width="410" src="/static/images/founder2.png">
          
        </div>
        <div >
          <img height="310" width="410" src="/static/images/founder2.png">
          
        </div>
        <div >
          <img height="310" width="410" src="/static/images/founder2.png">
          
        </div>
        <div >
          <img height="310" width="410" src="/static/images/founder2.png">
          
        </div>
        <div >
          <img height="310" width="410" src="/static/images/founder2.png">
          
        </div>
        <div >
          <img height="310" width="410" src="/static/images/founder2.png">
          
        </div>
        
       
       
      </section>
      <br><br>
      <div class="row ">
  
        <div class="col-md-6" style="text-align: right;"> <a class="btn btn-success text-center" href="/register">Sign Up</a></div>
        <div class="col-md-6">  <a class="btn btn-success text-center" href="/property-listing">View Opportunities</a></div>
      </div>
  
    
  
 
      
  
  
    </div><!-- end container -->
  </section>
  

{% endblock %}