{% extends "web/base.html"%}
{% block container %}

<section class="subheader simple-search">
    <div class="container">
      <h1>About Us
  </h1>
      
  
    </div><!-- end container -->
  </section>
   
  <section class="module property-categories">
    <div class="container">
  
    
     
      <div class="row">
        <div class="col-md-3">
          <img alt="Photo of Mitesh Sugla" width="300" src="/static/images/founder2.jpg"> 
        </div>
        <div class="col-md-9 ml-2">
          <div style="margin-left: 26px;">
            <h1 class="propfounder">Mitesh Sugla</h1>
        
            <p class="founder-desc">Mitesh Sugla comes with 25 years of experience in real estate in investments and execution, currently he runs a company specialization in affordable home on the periphery of Mumbai. He is currently managing 1 million sq ft of residential and in the past he has raised and invested USD 200 mn of Equity in large townships of 10 million sq ft + and hotels with1000 rooms of inventory. With his stint in sales and marketing, He has achieved 1500cr of sales with brands like Omkar, Ahuja and RNA
              </p>
          </div>
         
        </div>
     
  
      </div>
     <hr/>

      <div class="row">
        <div class="col-md-3">
          <img alt="Photo of Afaque Ahmed" width="300" src="/static/images/founder1.png"> 
        </div>
        <div class="col-md-9 ml-2">
          <div style="margin-left: 26px;">
            <h1 class="propfounder">Afaque Ahmed</h1>
        
            <p class="founder-desc">
              Afaque Ahmed is an MBA from IUA, UK and has over 19 years of experience  and partner at altitude capital, a NBFC looking to invest in last mile funding requirement in real estate sector like logistics, commercial and residential sector, overall Afaque has specialized in rental yielding assets like warehousing and Commercial office space. His past experience at At Milestone Capital (a Real estate AIF fund) he nvested more then USD 500 million, resulting an output of 4mn sq ft  in commercial, industrial and logistics sectors at Bhiwandi, Bangalore, NCR, Hyderabad and Gujrat. He has played a key role in the fund raising, deployment, nurturing, dis-investment and distributing yields to investors. Pervious experiences include Lang LaSalle (JLL) as Senior Manager – Capital Markets. His success mantra has been to keep it simple for investments and investor too

              </p>
          </div>
         
        </div>
     
  
      </div>

  
  
    
  
    </div><!-- end container -->
  </section>

  

{% endblock %}