{% extends "web/base.html"%}
{% block container %}

<section class="subheader simple-search">
    <div class="container">
      <h1>Private Access
  </h1>
      
  
    </div><!-- end container -->
  </section>
  
  <section>
    <div class="card" style="width: 80%;margin-left:10% ;margin-bottom:2%;margin-top:2%;" >
   

      <div class="">
            
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#home">GOLD</a></li>
          <li><a data-toggle="tab" href="#menu1">PLATINUM</a></li>
       
        
        </ul><br><br>
      
        <div class="tab-content">
          <div id="home" class="tab-pane fade in active">
            <div class="module-header">
              <p>Become a Gold user (property portfolio &gt; Rs. 2 crores) and benefit from a personal adviser,</p>
              <p>access to private listings and personalised property tours.</p>
            </div>
            <a href="JavaScript:void(0)" class="gold-compare-benefits" style="float:right;margin-top:-25px;margin-right: 50px;"><i class="fa fa-refresh "></i> Compare benefits</a>
            <div class="container panel panel-default " style="padding: 25px;background-color: #212529;">
           
              <div class="gold-services ">
                <div class="">
                    <div class="">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                    <div class="">
                                        <img alt="" src="/static/images/presonal_new.svg">
                                    </div>
                            </div>
                            <div class="col-md-6 col-12 info-box">
                                <div class="">
                                    <h4 class="title">Personal Advisor</h4>
                                    <p class="description">
                                        <span>Get full-time access to a senior advisor to</span>
                                        <span>guide you through the nuances of every transaction.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                    <div class="">
                                        <img alt="" src="/static/images/tour.svg">
                                    </div>
                            </div>
                            <div class="col-md-6 col-12 info-box">
                                <div class="">
                                    <h4 class="title">Personalised Property Tours</h4>
                                    <p class="description">
                                        <span>Get a personalised tour of the properties listed</span>
                                        <span> on the platform with our team.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                    <div class="">
                                        <img alt="" src="/static/images/private_new.png">
                                    </div>
                            </div>
                            <div class="col-md-6 col-12 info-box">
                                <div class="">
                                    <h4 class="title">Private Listing</h4>
                                    <p class="description">
                                        <span>Get new listings on a private platform available</span>
                                        <span>exclusively for Gold users.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                    <div class="">
                                        <img alt="" src="/static/images/gold_new.png">
                                    </div>
                            </div>
                            <div class="col-md-6 col-12 info-box">
                                <div class="">
                                    <h4 class="title">Access to Gold Events</h4>
                                    <p class="description">
                                        <span>Get exclusive access to events reserved for Gold</span>
                                        <span>users including Investor Day, Sports events and more.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="row">
                            <div class="col-md-6 col-12 ">
                                <div class="">
                                    <img alt="" src="/static/images/advisor-v2.svg">
                                </div>
                            </div>
                            <div class="col-md-6 col-12 info-box">
                                <div class="">
                                    <h4 class="title">Instant calling</h4>
                                    <p class="description">
                                        <span>Use the Instant Call feature to call our advisor</span>
                                        <span>anytime.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="gold-services-benefits" style="display: none;">

              <div class="">
                <div class="">
                    <div class="row">
                        <div class="col-md-5 col-12">
                                <div class="">
                                    <img src="/static/images/estate.svg" alt="estate planning benefit for platinum investors">
                                </div>
                        </div>
                        <div class="col-md-4 col-12 info-box">
                            <div class="">
                                <h4 class="title">Estate Planning</h4>
                                <p class="description">
                                    <span>Your exclusive single family office</span>
                                    <span>managing your estate including setting-</span>
                                    <span>private trusts, drafting of wills and</span>
                                    <span>retirement planning etc.</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-4 offset-md-0 offset-4">
                            <div class="row">
                                <div class="col-md-6 col-6">
                                    <div class="platinum-icon-wrapper">
                                        <img src="https://media2.propertyshare.in/images/svg/platinum-selected.svg">
                                    </div>
                                </div>
                                <div class="col-md-6 col-6">
                                    <div class="gold-icon-wrapper">
                                        <span class="dash-icon">__</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="row">
                        <div class="col-md-5 col-12">
                                <div class="">
                                    <img src="/static/images/tax _planning.svg" alt="personalized tax services for platinum investors">
                                </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="">
                                <h4 class="title">Personalised Tax Services</h4>
                                <p class="description">
                                    <span>Get personalised tax advice from a</span>
                                    <span>senior tax advisor including use of a Big</span>
                                    <span>4 accounting firm for all your tax planning.</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-4 offset-md-0 offset-4">
                            <div class="row">
                                <div class="col-md-6 col-6">
                                    <div class="platinum-icon-wrapper">
                                        <img src="https://media2.propertyshare.in/images/svg/platinum-selected.svg">
                                    </div>
                                </div>
                                <div class="col-md-6 col-6">
                                    <div class="gold-icon-wrapper">
                                        <span class="dash-icon">__</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="row">
                        <div class="col-md-5 col-12">
                                <div class="">
                                    <img src="/static/images/portfolio.svg">
                                </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="">
                                <h4 class="title">Tailored Portfolio Advice</h4>
                                <p class="description">
                                    <span>Benefit from expert advice tailored to</span>
                                    <span>your specific short and</span>
                                    <span>long term goals.</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-4 offset-md-0 offset-4">
                            <div class="row">
                                <div class="col-md-6 col-6">
                                    <div class="platinum-icon-wrapper">
                                        <img src="https://media2.propertyshare.in/images/svg/platinum-selected.svg">
                                    </div>
                                </div>
                                <div class="col-md-6 col-6">
                                    <div class="gold-icon-wrapper">
                                        <img src="/static/images/gold-selected.svg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="row">
                        <div class="col-md-5 col-12">
                                <div class="">
                                    <img src="/static/images/gold_platinum.svg" alt="access to platinum events for gold card holders">
                                </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="">
                                <h4 class="title">Access to Gold/Platinum Events</h4>
                                <p class="description">
                                    <span>Get exclusive access to events reserved</span>
                                    <span>for gold/Platinum users including</span>
                                    <span>Investor Day, Sports events and more.</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-4 offset-md-0 offset-4">
                            <div class="row">
                                <div class="col-md-6 col-6">
                                    <div class="platinum-icon-wrapper">
                                        <img src="https://media2.propertyshare.in/images/svg/platinum-selected.svg">
                                    </div>
                                </div>
                                <div class="col-md-6 col-6">
                                    <div class="gold-icon-wrapper">
                                        <img src="/static/images/gold-selected.svg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="row">
                        <div class="col-md-5 col-12">
                                <div class="">
                                    <img src="/static/images/presonal_new.svg" alt="personal investment manager benefit for gold investors">
                                </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="">
                                <h4 class="title">Personal Advisor</h4>
                                <p class="description">
                                    <span>Get full-time access to a senior</span>
                                    <span>advisor to guide you through</span>
                                    <span>the nuances of every transaction.</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-4 offset-md-0 offset-4">
                            <div class="row">
                                <div class="col-md-6 col-6">
                                    <div class="platinum-icon-wrapper">
                                        <img src="https://media2.propertyshare.in/images/svg/platinum-selected.svg">
                                    </div>
                                </div>
                                <div class="col-md-6 col-6">
                                    <div class="gold-icon-wrapper">
                                        <img src="/static/images/gold-selected.svg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="row">
                        <div class="col-md-5 col-12">
                                <div class="">
                                    <img src="/static/images/tour.svg">
                                </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="">
                                <h4 class="title">Personalised Property Tours</h4>
                                <p class="description">
                                    <span>Get a personalised tour of the properties</span>
                                    <span>we own and are evaluating</span>
                                    <span>with our team.</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-4 offset-md-0 offset-4">
                            <div class="row">
                                <div class="col-md-6 col-6">
                                    <div class="platinum-icon-wrapper">
                                        <img src="https://media2.propertyshare.in/images/svg/platinum-selected.svg">
                                    </div>
                                </div>
                                <div class="col-md-6 col-6">
                                    <div class="gold-icon-wrapper">
                                        <span class="dash-icon">__</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="row">
                        <div class="col-md-5 col-12">
                                <div class="">
                                    <img src="/static/images/private_new.png" alt="private listing exclusively for gold investors">
                                </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="">
                                <h4 class="title">Private Listing</h4>
                                <p class="description">
                                    <span>Get new listings on a private platform</span>
                                    <span>available exclusively for platinum</span>
                                    <span>users.</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-4 offset-md-0 offset-4">
                            <div class="row">
                                <div class="col-md-6 col-6">
                                    <div class="platinum-icon-wrapper">
                                        <img src="https://media2.propertyshare.in/images/svg/platinum-selected.svg">
                                    </div>
                                </div>
                                <div class="col-md-6 col-6">
                                    <div class="gold-icon-wrapper">
                                        <img src="/static/images/gold-selected.svg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="row">
                        <div class="col-md-5 col-12">
                            <div class="">
                                <img src="/static/images/advisor-v2.svg" alt="instant call feature for gold card holders">
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="">
                                <h4 class="title">Instant calling</h4>
                                <p class="description">
                                    <span>Use the Instant Call feature to call our</span>
                                    <span>advisor anytime.</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-4 offset-md-0 offset-4">
                            <div class="row">
                                <div class="col-md-6 col-6">
                                    <div class="platinum-icon-wrapper">
                                        <img src="https://media2.propertyshare.in/images/svg/platinum-selected.svg">
                                    </div>
                                </div>
                                <div class="col-md-6 col-6">
                                    <div class="gold-icon-wrapper">
                                        <img src="/static/images/gold-selected.svg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>
            
            </div>
          
          </div>
          <div id="menu1" class="tab-pane fade">
            <div class="module-header">
              <p>Become a Platinum user (property portfolio > Rs. 5 crores) and benefit from a personal tax advisor,</p>
              <p>bespoke estate planning services and tailored advice in addition to all Gold benefits.</p>
            </div>
            <a href="JavaScript:void(0)" class="platinum-compare-benefits" style="float:right;margin-top:-25px;margin-right: 50px;"><i class="fa fa-refresh "></i> Compare benefits</a>
            <div class="container panel panel-default " style="padding: 25px;background-color: #212529;">
           
            <div class="platinum-services">
                <div class="">
                    <div class="">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                    <div class="">
                                        <img alt="estate planning benefit for platinum investors" src="/static/images/estate.svg">
                                    </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="">
                                    <h4 class="title">Estate Planning</h4>
                                    <p class="description">
                                        <span>Your exclusive single family office
                                        managing your</span>
                                        <span> estate including setting
                                        private trusts, drafting of</span>
                                        <span>retirement planning etc.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                    <div class="">
                                        <img alt="" src="/static/images/tax _planning.svg">
                                    </div>
                            </div>
                            <div class="col-md-6 col-12 info-box">
                                <div class="">
                                    <h4 class="title">Personalised Tax Services</h4>
                                    <p class="description">
                                        <span>Get personalised tax advice from a
                                        senior tax advisor</span>
                                        <span> including use of a Big
                                        4 accounting firm for all your</span>
                                        <span>tax planning.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="row">
                            <div class="col-md-6 col-12 ">
                                    <div class="">
                                        <img alt="" src="/static/images/portfolio.svg">
                                    </div>
                            </div>
                            <div class="col-md-6 col-12 info-box">
                                <div class="">
                                    <h4 class="title">Tailored Portfolio Advice</h4>
                                    <p class="description">
                                        <span>Benefit from expert advice tailored to your specific</span>
                                        <span>short and long term goals.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                    <div class="">
                                        <img alt="" src="/static/images/platinum_new.png">
                                    </div>
                            </div>
                            <div class="col-md-6 col-12 info-box">
                                <div class="">
                                    <h4 class="title">Access to Platinum Events</h4>
                                    <p class="description">
                                    <span>Get exclusive access to events reserved for Platinum</span>
                                    <span>users including Investor Day, Sports events and more.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" text-center">
                    <button type="btn" class="capsule-btn add-more-services">
                        
                        <span class="text">All Gold Services</span>
                    </button>
                </div>
            </div>

            <div class="gold-services-platinum" style="display: none;">
              <div class="">
                  <div class="">
                      <div class="row">
                          <div class="col-md-6 col-12">
                                  <div class="">
                                      <img alt="" src="/static/images/presonal_new.svg">
                                  </div>
                          </div>
                          <div class="col-md-6 col-12 info-box">
                              <div class="">
                                  <h4 class="title">Personal Advisor</h4>
                                  <p class="description">
                                      <span>Get full-time access to a senior advisor to</span>
                                      <span>guide you through the nuances of every transaction.</span>
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="">
                      <div class="row">
                          <div class="col-md-6 col-12">
                                  <div class="">
                                      <img alt="" src="/static/images/tour.svg">
                                  </div>
                          </div>
                          <div class="col-md-6 col-12 info-box">
                              <div class="">
                                  <h4 class="title">Personalised Property Tours</h4>
                                  <p class="description">
                                      <span>Get a personalised tour of the properties listed</span>
                                      <span> on the platform with our team.</span>
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="">
                      <div class="row">
                          <div class="col-md-6 col-12">
                                  <div class="">
                                      <img alt="" src="/static/images/private_new.png">
                                  </div>
                          </div>
                          <div class="col-md-6 col-12 info-box">
                              <div class="">
                                  <h4 class="title">Private Listing</h4>
                                  <p class="description">
                                      <span>Get new listings on a private platform available</span>
                                      <span>exclusively for Gold users.</span>
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="">
                      <div class="row">
                          <div class="col-md-6 col-12">
                                  <div class="">
                                      <img alt="" src="/static/images/gold_new.png">
                                  </div>
                          </div>
                          <div class="col-md-6 col-12 info-box">
                              <div class="">
                                  <h4 class="title">Access to Gold Events</h4>
                                  <p class="description">
                                      <span>Get exclusive access to events reserved for Gold</span>
                                      <span>users including Investor Day, Sports events and more.</span>
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="">
                      <div class="row">
                          <div class="col-md-6 col-12 ">
                              <div class="">
                                  <img alt="" src="/static/images/advisor-v2.svg">
                              </div>
                          </div>
                          <div class="col-md-6 col-12 info-box">
                              <div class="">
                                  <h4 class="title">Instant calling</h4>
                                  <p class="description">
                                      <span>Use the Instant Call feature to call our advisor</span>
                                      <span>anytime.</span>
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>

            <div class="platinum-services-benefits" style="display: none;">
              <div class="">
                  <div class="row">
                      <div class="col-md-5 col-12">
                              <div class="service-image-wrapper">
                                  <img src="/static/images/estate.svg" alt="estate planning benefit for platinum investors">
                              </div>
                      </div>
                      <div class="col-md-4 col-12">
                          <div class="service-description">
                              <h4 class="title">Estate Planning</h4>
                              <p class="description">
                                  <span>Your exclusive single family office</span>
                                  <span>managing your estate including setting-</span>
                                  <span>private trusts, drafting of wills and</span>
                                  <span>retirement planning etc.</span>
                              </p>
                          </div>
                      </div>
                      <div class="col-md-3 col-4 offset-md-0 offset-4">
                          <div class="row">
                              <div class="col-md-6 col-6">
                                  <div class="platinum-icon-wrapper">
                                      <img src="https://media2.propertyshare.in/images/svg/platinum-selected.svg">
                                  </div>
                              </div>
                              <div class="col-md-6 col-6">
                                  <div class="gold-icon-wrapper">
                                      <span class="dash-icon">__</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="">
                  <div class="row">
                      <div class="col-md-5 col-12">
                              <div class="service-image-wrapper">
                                  <img src="/static/images/tax _planning.svg" alt="personalized tax services for platinum investors">
                              </div>
                      </div>
                      <div class="col-md-4 col-12">
                          <div class="service-description">
                              <h4 class="title">Personalised Tax Services</h4>
                              <p class="description">
                                  <span>Get personalised tax advice from a</span>
                                  <span>senior tax advisor including use of a Big</span>
                                  <span>4 accounting firm for all your tax planning.</span>
                              </p>
                          </div>
                      </div>
                      <div class="col-md-3 col-4 offset-md-0 offset-4">
                          <div class="row">
                              <div class="col-md-6 col-6">
                                  <div class="platinum-icon-wrapper">
                                      <img src="https://media2.propertyshare.in/images/svg/platinum-selected.svg">
                                  </div>
                              </div>
                              <div class="col-md-6 col-6">
                                  <div class="gold-icon-wrapper">
                                      <span class="dash-icon">__</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="">
                  <div class="row">
                      <div class="col-md-5 col-12">
                              <div class="service-image-wrapper">
                                  <img src="/static/images/portfolio.svg">
                              </div>
                      </div>
                      <div class="col-md-4 col-12">
                          <div class="service-description">
                              <h4 class="title">Tailored Portfolio Advice</h4>
                              <p class="description">
                                  <span>Benefit from expert advice tailored to</span>
                                  <span>your specific short and</span>
                                  <span>long term goals.</span>
                              </p>
                          </div>
                      </div>
                      <div class="col-md-3 col-4 offset-md-0 offset-4">
                          <div class="row">
                              <div class="col-md-6 col-6">
                                  <div class="platinum-icon-wrapper">
                                      <img src="https://media2.propertyshare.in/images/svg/platinum-selected.svg">
                                  </div>
                              </div>
                              <div class="col-md-6 col-6">
                                  <div class="gold-icon-wrapper">
                                      <img src="/static/images/gold-selected.svg">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="">
                  <div class="row">
                      <div class="col-md-5 col-12">
                              <div class="service-image-wrapper">
                                  <img src="/static/images/gold_platinum.svg" alt="access to platinum events for gold card holders">
                              </div>
                      </div>
                      <div class="col-md-4 col-12">
                          <div class="service-description">
                              <h4 class="title">Access to Gold/Platinum Events</h4>
                              <p class="description">
                                  <span>Get exclusive access to events reserved</span>
                                  <span>for gold/Platinum users including</span>
                                  <span>Investor Day, Sports events and more.</span>
                              </p>
                          </div>
                      </div>
                      <div class="col-md-3 col-4 offset-md-0 offset-4">
                          <div class="row">
                              <div class="col-md-6 col-6">
                                  <div class="platinum-icon-wrapper">
                                      <img src="https://media2.propertyshare.in/images/svg/platinum-selected.svg">
                                  </div>
                              </div>
                              <div class="col-md-6 col-6">
                                  <div class="gold-icon-wrapper">
                                      <img src="/static/images/gold-selected.svg">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="">
                  <div class="row">
                      <div class="col-md-5 col-12">
                              <div class="service-image-wrapper">
                                  <img src="/static/images/presonal_new.svg" alt="personal investment manager benefit for gold investors">
                              </div>
                      </div>
                      <div class="col-md-4 col-12">
                          <div class="service-description">
                              <h4 class="title">Personal Advisor</h4>
                              <p class="description">
                                  <span>Get full-time access to a senior</span>
                                  <span>advisor to guide you through</span>
                                  <span>the nuances of every transaction.</span>
                              </p>
                          </div>
                      </div>
                      <div class="col-md-3 col-4 offset-md-0 offset-4">
                          <div class="row">
                              <div class="col-md-6 col-6">
                                  <div class="platinum-icon-wrapper">
                                      <img src="https://media2.propertyshare.in/images/svg/platinum-selected.svg">
                                  </div>
                              </div>
                              <div class="col-md-6 col-6">
                                  <div class="gold-icon-wrapper">
                                      <img src="/static/images/gold-selected.svg">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="">
                  <div class="row">
                      <div class="col-md-5 col-12">
                              <div class="service-image-wrapper">
                                  <img src="/static/images/tour.svg">
                              </div>
                      </div>
                      <div class="col-md-4 col-12">
                          <div class="service-description">
                              <h4 class="title">Personalised Property Tours</h4>
                              <p class="description">
                                  <span>Get a personalised tour of the properties</span>
                                  <span>we own and are evaluating</span>
                                  <span>with our team.</span>
                              </p>
                          </div>
                      </div>
                      <div class="col-md-3 col-4 offset-md-0 offset-4">
                          <div class="row">
                              <div class="col-md-6 col-6">
                                  <div class="platinum-icon-wrapper">
                                      <img src="https://media2.propertyshare.in/images/svg/platinum-selected.svg">
                                  </div>
                              </div>
                              <div class="col-md-6 col-6">
                                  <div class="gold-icon-wrapper">
                                      <span class="dash-icon">__</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="">
                  <div class="row">
                      <div class="col-md-5 col-12">
                              <div class="service-image-wrapper">
                                  <img src="/static/images/private_new.png" alt="private listing exclusively for gold investors">
                              </div>
                      </div>
                      <div class="col-md-4 col-12">
                          <div class="service-description">
                              <h4 class="title">Private Listing</h4>
                              <p class="description">
                                  <span>Get new listings on a private platform</span>
                                  <span>available exclusively for platinum</span>
                                  <span>users.</span>
                              </p>
                          </div>
                      </div>
                      <div class="col-md-3 col-4 offset-md-0 offset-4">
                          <div class="row">
                              <div class="col-md-6 col-6">
                                  <div class="platinum-icon-wrapper">
                                      <img src="https://media2.propertyshare.in/images/svg/platinum-selected.svg">
                                  </div>
                              </div>
                              <div class="col-md-6 col-6">
                                  <div class="gold-icon-wrapper">
                                      <img src="/static/images/gold-selected.svg">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="">
                  <div class="row">
                      <div class="col-md-5 col-12">
                          <div class="service-image-wrapper">
                              <img src="/static/images/advisor-v2.svg" alt="instant call feature for gold card holders">
                          </div>
                      </div>
                      <div class="col-md-4 col-12">
                          <div class="service-description">
                              <h4 class="title">Instant calling</h4>
                              <p class="description">
                                  <span>Use the Instant Call feature to call our</span>
                                  <span>advisor anytime.</span>
                              </p>
                          </div>
                      </div>
                      <div class="col-md-3 col-4 offset-md-0 offset-4">
                          <div class="row">
                              <div class="col-md-6 col-6">
                                  <div class="platinum-icon-wrapper">
                                      <img src="https://media2.propertyshare.in/images/svg/platinum-selected.svg">
                                  </div>
                              </div>
                              <div class="col-md-6 col-6">
                                  <div class="gold-icon-wrapper">
                                      <img src="/static/images/gold-selected.svg">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

            </div>
          
          </div>
         
          
        </div>
      </div>
      
      
         
    </div>

    <br><br>
    <div class="row ">

      <div class="col-md-6" style="text-align: right;"> <a class="btn btn-success text-center" href="/register">Sign Up</a></div>
      <div class="col-md-6">  <a class="btn btn-success text-center" href="/property-listing">View Opportunities</a></div>
    </div>
    <br><br>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>

<script>

  $('.platinum-compare-benefits').click(function(){
        
      $('.platinum-services-benefits').toggle();
      $('.platinum-services').toggle();
      $('.gold-services-platinum').hide();
  
  })
  $('.gold-compare-benefits').click(function(){
  
      $('.gold-services-benefits').toggle();
      $('.gold-services').toggle();
     
  
  })
  $('.add-more-services').click(function(){

      $('.gold-services-platinum').toggle();
     
  
  })


</script>
    
    <style>
      .panel-default p,h1,h2.h3,h4{
        color: white;
      }
        .subheader {
           
            margin: 20px;
        }
        .info-box{
          margin-top: 70px;
        }
      .add-more-services{
        background: linear-gradient(
        266deg
        ,#e6b204,#ffc400);
            color: #fff;
            font-family: proxi-semibold;
            font-size: 17px;
            border-radius: 17px;
            min-height: 34px;
            height: 34px;
            width: 195px;
            min-width: 195px;
            border: none;
              }
       
    </style>
    



</div>
  </section>
  
    
  

{% endblock %}