{% extends "web/base.html"%}
{% block container %}

<section class="subheader simple-search">
    <div class="container">
      <h1>Privacy Policy
  </h1>
      
  
    </div><!-- end container -->
  </section>
   
  <section class="module property-categories">
   
    <div class="container">
      <div class="page-container">
          <div class="section-title text-center">
     
          <p class="updated">UPDATED 2022 - 2023</p>
          </div>
  
          <div class="section-body">
  
              <div class="col-md-12">
                 
  
                  <div class="privacy-policy-content">
                    <p>
                      By visiting our website <a href="/" target="_blank">www.propfrac.com</a> you agree or using the Services you agree the terms and conditions of this Privacy Policy. User / subscriber understands the personal information and non personal information may be stored on the Propfrac managers Pvt ltd (Company) database and the can be of confidential or any nature. The information is secured on our servers but has the risk of breach the Term of disclosure of the privacy policy. The Company uses personal information to provide the services to the subscribe on the website or app.
                    </p>
                    <p>
                      Any other items of "sensitive personal data or information" as such term is defined under the Information Technology (Reasonable Security Practices And Procedures And Sensitive Personal Data Of Information) Rules, 2011 enacted under the Information Technology Act, 2000; Identification code of your communication device which you use to access the Website/App or otherwise deal with any Company entity.

                    </p>
                  </div>
              </div>
  
          </div>
  
      </div>
  </div>

  </section>
  
  <style>


    .page-container .section-body .large_section_title {
        margin-top: 30px;
        margin-bottom: 1.5625rem;
        font-family: gourmand-regular;
        font-weight: 400;
        color: #000;
        font-size: 25px;
        text-align: left;
    }
      </style>
  

{% endblock %}