{% extends "web/base.html"%}
{% block container %}

<section class="subheader simple-search">
    <div class="container">
      <h1>Why Fractional
  </h1>
      
  
    </div><!-- end container -->
  </section>
   
  <section class="module property-categories">
    <div class="container">
  
      <div class="module-header">
        <h2>Why  <strong>Fractional</strong></h2>
        <img src="images/divider.png" alt="">
        <p>A proptech platform that provides users with to institutional quality commercial real estate Investment Options</p>
      </div>
  
  
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <a href="#" class="property-cat property-cat-condos">
            <h3>Access &amp; Villas</h3>
            <div class="color-bar"></div>
            <p>Thoroughly Vetted commercial real estate with 7-10% yields and 14-20% IRRs</p>
          </a>
        </div>
        <div class="col-lg-4 col-md-4">
          <a href="#" class="property-cat property-cat-waterfront">
            <h3>Liquidity</h3>
            <div class="color-bar"></div>
            <p>Easy exit option through fractional ownership</p>
          </a>
        </div>
        <div class="col-lg-4 col-md-4">
          <a href="#" class="property-cat property-cat-cozy">
            <h3>Asset Management</h3>
            <div class="color-bar"></div>
            <p>Manage Leasing and Selling of assets with thorough market knowledge and network</p>
          </a>
        </div>
      </div><!-- end row -->
  
    </div><!-- end container -->
  </section>
  
    
  

{% endblock %}