{% extends 'web/base.html' %}

{% block container %}
<section class="subheader">
    <div class="container">
      <h1>Forgot password</h1>
      <div class="breadcrumb right">Home <i class="fa fa-angle-right"></i> <a href="login" class="current">Login</a></div>
      <div class="clear"></div>
    </div>
  </section>
  

  <section class="module login">
    <div class="container">
      <div class="col-lg-4 col-lg-offset-4"> 
       
     
      <div class="row">
       
        
          <form method="post" class="">
           {% csrf_token %}
           {{form.as_p}}
       
            <div class="form-block">
              <button class="button button-icon" type="submit"><i class="fa fa-angle-right"></i>Submit</button>
            </div>
           
          </form>
         
        </div>
      </div><!-- end row -->
  
    </div>
  </section>

{% endblock %}