{% extends "prop_admin/base.html" %}
{% block container %}

					{% include "prop_admin/partials/top_search_navigation.html" %}
					<div class="row">
						<div class="col-xl-3 col-md-6">
							<div class="card text-center">
							
								<a href="/propertyAdmin/process-flow-chart">
									<div class="card-body ">
										<img width="70" height="70" src="/static/images/process  flowchart.png"/>
										
									</div>
								</a>
								<h5>Process Flowchart</h5>	
							</div>
						</div>
						<div class="col-xl-3 col-md-6">
							<div class="card text-center">
								
								<a href="/propertyAdmin/prospectus">
									<div class="card-body">
										<img width="70" height="70" src="/static/images/prospects.png"/>
									</div>
								</a>	
								<h5>Prospectus</h5>
							</div>
						</div>
						<div class="col-xl-3 col-md-6">
							<div class="card text-center">
								
								<a href="/propertyAdmin/kyc">
									<div class="card-body">
										<img width="70" height="70" src="/static/images/kyc.png"/>
									</div>
								</a>
								<h5>KYC</h5>	
							</div>
						</div>
							<!-- <div class="col-xl-3 col-md-6">
								<div class="card text-center">
									
									<a href="/propertyAdmin/secure-your-account">
										<div class="card-body">
											<img width="70" height="70" src="/static/images/secure account.png"/>
										</div>
									</a>	
									<h5>Secure Your Account</h5>
								</div>
							</div> -->
						<div class="col-xl-3 col-md-6">
							<div class="card text-center">
								
								<a href="/propertyAdmin/my-earnings">
									<div class="card-body">
										<img width="70" height="70" src="/static/images/wallet.png"/>
									</div>
								</a>	
								<h5>My Earnings</h5>
							</div>
						</div>
						<div class="col-xl-3 col-md-6">
							<div class="card text-center">
								
								<a href="/propertyAdmin/investments">
									<div class="card-body">
										<img width="70" height="70" src="/static/images/invest.png"/>
									</div>
								</a>
								<h5>Investments</h5>	
							</div>
						</div>
						<div class="col-xl-3 col-md-6">
							<div class="card text-center">
								
								<a href="/propertyAdmin/tax">
									<div class="card-body">
										<img width="70" height="70" src="/static/images/process  flowchart.png"/>
									</div>
								</a>
								<h5>Tax</h5>	
							</div>
						</div>
						<div class="col-xl-3 col-md-6">
							<div class="card text-center">
								
								<a href="/propertyAdmin/polls">
									<div class="card-body">
										<img width="70" height="70" src="/static/images/process  flowchart.png"/>
									</div>
								</a>
								<h5>Polls</h5>	
							</div>
						</div>
						<!-- <div class="col-xl-3 col-md-6">
							<div class="card text-center">
								
								<a href="/propertyAdmin/invest">
									<div class="card-body">
										<img width="70" height="70" src="/static/images/wallet.png"/>
									</div>
								</a>	
								<h5>Invest</h5>
							</div>
						</div> -->
						<!-- <div class="col-xl-3 col-md-6">
							<div class="card text-center">
								
								<a href="/propertyAdmin/dividend">
									<div class="card-body">
										<img width="70" height="70" src="/static/images/dividend.png"/>
									</div>
								</a>
								<h5>Dividend</h5>	
							</div>
						</div> -->
					</div>
				
{% endblock %}


